GlobalSettings:
  
  # The accuracy level on logging
  logLevel: 'INFO'

  # True if we want to enable command line parameter parsing
  commandLineEnabled: True

  # The network port used to expose this service
  port: 5081

  # The output format of downloaded files by generic downloader - Required parameter
  'outtmpl': '/destination/path/%(title)s.%(ext)s'

  # Temporary directory - Insert only the path, not the instruction on the final name
  'tempDir': '/tmp'

  # Maximum number of simultaneous downloads
  maxTotalDownload: 3

  # Maximum number of simultaneous download per host
  maxDownloadPerHost: 2


CrunchyrollSettings:

  #The output format of downloaded files by Crunchyroll - Required parameter
  'outtmpl': '/destination/path/%(title)s.%(ext)s'
  
  #The list of subtitles languages to download (Must be a list)
  'subtitleslangs':
    - 'itIT'
  
  #True to shut down youtube_dl verbose output
  'quiet': True
  
  #The preferred format of subtitle
  'subtitlesformat': 'ass'
  
  #If set to true it will download subtitles to a file
  'writesubtitles': True
  
  #If set to true this setting will request youtube_dl postprocessor to embed subtitle in the video
  'impress_sub': True

  #True to avoid the use of unwanted characters
  'restrictfilenames': True

  #True to avoid software crash in case of errors
  'ignoreerrors': True

  #Seconds to sleep between downloads
  'sleep_interval': 15

  # Maximum number of simultaneous download per this host
  maxDownloadPerHost: 1

AniplaySettings:

  #The output format of downloaded files by Crunchyroll - Required parameter
  'outtmpl': '/destination/path/%(title)s.%(ext)s'

  #Seconds to sleep between downloads
  'sleep_interval': 15

  # Maximum number of simultaneous download per this host
  maxDownloadPerHost: 1