<!doctype html>
<title>IUB - Download Manager</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>IUB - Download Manager</h1>
</nav>
<section class="content">
  {% for key, value in get_urls().items() %}
    <h1>{{ key }}</h1>
      <ul>
    {% for file in value %}
      <li><div class="queue">
          {% if 'status' in file %}
          Progress: {{ file.status }}% -
          {% endif %}
          {{ file.name }} [{{ file.url }}]
      </div></li>
    {% endfor %}
      </ul>
 {% endfor %}
  <form method="post" action="/add">
    <label for="new_url">Url</label>
    <input name="new_url" id="new_url" required>
    <input type="submit" value="Request url">
  </form>
</section>

